* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	--_color-light: hsl(0 0% 97%);
	--_color-dark: hsl(240 25% 12%);
	color: var(--_color-light, hsl(0 0% 95%));
	background: var(--_color-dark, hsl(0 0% 20%));
	font-family: system-ui;
	display: grid;
	place-items: center;
	min-block-size: 100svb;
}

div {
	position: relative;
}

div > button {
	position: absolute;
	inset-inline-start: 50%;
	inset-block-end: 1rem;
	translate: -50% 0%;
}

button {
	font-family: inherit;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 1px;
	color: var(--_color-light, hsl(0 0% 95%));
	background: var(--_color-dark, hsl(0 0% 20%));
	padding: 0.4rem 0.6rem;
	border-radius: 0.4rem;
	border: none;
}

button:focus {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button:disabled {
	transition: scale 0.2s;
	transform-origin: 50% 100%;
	scale: 0;
}
